@(id: String, books: List[Kniha], logged: String, message: String)

    @main("Knihovnický infromační portál", logged) {

    @if(logged == "admin"){
    <!DOCTYPE html>

        <html>
            <body>
                @if( id == "1"){
                    <h1>Pro vybraní knihy klikni na její ikonu</h1>
                }else{
                        <h1>Úprava knihy s názvem: @id</h1>
                    }
                @if(message!=null){
                    <h3>@message</h3>
                }
                @helper.form(action = routes.Application.updateBook(id)) {
                    <br>

                    <h2>Úprava knihy v databázi:</h2>
                    <table>
                        <tr>
                            <td>Název knihy</td>
                            <td><input name ="nazev"></td>
                        </tr>
                        <tr>
                            <td>Autor</td>
                            <td><input name ="autor"></td>
                        </tr>
                        <tr>
                            <td>Rok vydání</td>
                            <td><input name ="rokVydani"></td>
                        </tr>
                        <tr>
                            <td>Nakladatelství</td>
                            <td><input name ="nakladatelstvi"></td>
                        </tr>
                        <tr>
                            <td><input type ="submit"></td>
                        </tr>
                    </table>

                }
                @for(p <- books) {
                    <a href="/edit/@p.getNazev">
                        <img id="imgbook", src="/assets/images/imgbook.png">
                    </a>
                    <div id="show-books">
                        <p class="Kniha">
                            <br>
                            <span class="note">Název: </span> <b>@p.getNazev</b> <br />
                            <span class="note">Autor: </span> <b>@p.getAutor</b> <br />
                            <span class="note">Rok vydání: </span> <b>@p.getRokVydani</b> <br />
                            <span class="note">Nakladatelství: </span> <b>@p.getNakladatelstvi</b> <br />
                            <br>
                        </p>
                    </div>
                }
                <!DOCTYPE html>
            }else {
        <h1>Nemáš oprávnění pro úpravu knih</h1>
                }



            </body>
        </html>

    }