@(title: String, logged:String)

@main(title,logged) {
  <!DOCTYPE html>

  <html>
    <body>
      <form action="@routes.Application.addUser()" method="post" class="basic-form">
        <br>
        <h1>Přidání Uživatele

      </h1>
      <br>

      <h3>Přidání uživatele do databáze:</h3>
        <br>
      <table>
        <tr>
          <td>Jméno</td>
          <td><input name ="jmeno"></td>
        </tr>
        <tr>
          <td>Heslo</td>
          <td><input name ="heslo"></td>
        </tr>
        <tr>
          <td><input type ="submit"></td>
        </tr>
      </table>

      <br>
      </form>
    </body>
  <html>

}