@(title: String, users: List[Uzivatel], logged: String)

    @main(title, logged) {
    <!DOCTYPE html>
        <html>
            <body>
            @for(p <- users) {
                <a href="/">
                    <img id="imguser", src="/assets/images/imguser.png">
                </a>
                <div id="show-users">
                    <p class="Uzivatel">
                        <br>
                        <span class="note">Jméno: </span> <b>@p.jmeno</b> <br />
                        <span class="note">Heslo: </span> <b>@p.heslo</b> <br />
                        <br>
                    </p>
                </div>
            }
            </body>
        </html>
    }