* {
    margin: 0;
    padding: 0
}

body {
    font-size: 14px;
    font-family: Tahoma, Sans-Serif;
    color: #000;
    background: url('/assets/images/bg2.png');
}

#imgbook {
    float: left;
}

#imguser {
    float: left;
}

a{
    color: #7b0000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.basic-form table{
    text-align: left;
}

p {
    font-family: Tahoma, Sans-Serif;
    font-size: 120%;
    text-align: left;
    display: inline;
}

#show-books{
    text-align: left;
}

#show-users{
    text-align: left;
}

/*Header, wrapper*/
#wrap {
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    width: 800px;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ddd;;

}

#menu {
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#menu ul {
    display: inline;
}

#menu ul li {
    float: right;
    font-size: 12px;
    list-style: none;
    padding: 5px;
    width: 100px;
}

#menu ul li:hover {
    border-left: 2px solid #7b0000;
}



