* {margin: 0; padding: 0}


body {
    font-size: 14px;
    font-family: Tahoma, Sans-Serif;
    color: #000;
    background: url('/assets/images/bg.png') repeat;
}


/*Header, wrapper*/
#wrap {
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    width: 950px;
    background: #fff;
    text-align: center;
    border: 3px solid #c0c0c0;
    border-top: none;
}


#menu {
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#menu ul {
    display: inline;
}

#menu ul li{
    float: right;
    font-size: 14px;
    list-style: none;
    padding: 5px;
    width: 120px;
}



